<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"></script>
</head>
<body>
 <h1>Add Person</h1>
 <div>
    <a th:href="@{/persons}">Back</a>
    <form th:action="@{/persons/create}"   th:object="${personForm}" method="Post">
    <div>
        <label for="">Name</label>
        <input type="text"  id="name" th:field="*{name}">
         <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </div>
     <div>
        <label for="">Age</label>
        <input type="number"  id="age" th:field="*{age}"  >
         <span style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</span>
     </div>
     <div>
        <label for="">Photo</label>
        <input type="text"  id="photo" readonly th:field="*{photo}"  >
     </div>
     <div>
        <input type="submit" value="Add">
     </div>
    </form>
    <div>
        <p th:text="${error}" style="color:red"></p>
    </div>
 </div>
</body>
</html>
