<html>
    <head>
        <title>Greeting page</title>
    </head>
    <body>
        <h1 th:text="|Hello, ${myName} from spring mvc APP|">Hello World form spring mvc APP</h1>
        <h1>Name list</h1> 
        <ul>
            <li th:each="name:${names}" th:text="${name}">item1</li>
         </ul> 
         <h2 th:text="|I have ${age} years|"> default age</h2>

         <p th:if="(${age}<60)" th:text="'You are young!'">
                Young
         </p>
           <p th:unless="(${age}<60)" th:text="'You are old!'">
                Young
           </p>
           <h1>User list</h1> 
        <ul>
            <li th:each="user:${users}" th:text="${user.name}">item1</li>
         </ul> 
    </body>
</html>