<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
    <script type="text/javascript"></script>
    <link th:replace="layout/default-layout::link">
</head>

<body th:replace="layout/default-layout::body(title='Edit person')">
    <div th:fragment="content">
        <div class="mt-3 mb-4">
            <a class="btn btn-primary" th:href="@{/persons}">Back</a>
          </div>

        <form th:action="@{|/persons/${id}/edit|}" th:object="${personForm}"
               method="POST" enctype="multipart/form-data">
            <div>
                <label for="name" class="form-lablel mt-4">
                    Name
                </label>
                <input type="text" class="form-control mt-2" name="name" th:classappend="${#fields.hasErrors('name')}?is-invalid"  th:field="*{name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">Name Error</span>
            </div>
            <div>
                <label for="age" class="form-lablel mt-4">
                    Age
                </label>
                <input type="number" class="form-control mt-2" th:classappend="${#fields.hasErrors('age')}?is-invalid" name="age" th:field="*{age}">
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="invalid-feedback">Age Error</span>
            </div>
            <div>
                <img th:src="${personForm.photo!=null}?@{|/images/${personForm.photo}|}:@{/images/default.png}" 
                alt="photo"
                class="img-rounded img-responsive"
                style="max-height: 50px; max-width: 50px;">
                <label class="form-lablel mt-4" for="file">Photo</label>
                <input type="file" name="file" class="form-control mt-2">
            </div>
            <div class="mt-4">
                <input class="btn btn-success" type="submit" value="Save">
            </div>
        </form>
    </div>
</body>
</html>